body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: LightGray;
  }
 table { 
    cursor: pointer;
    border-collapse: collapse;
  } 
  td {
    height: 1em;
    width: 1em;
    border: 2px solid black;
    background-color: ghostwhite;
  }
  .fill {
    background-color: black;
  }
  .fill:hover{
    background-color:midnightblue;
  }
  td:hover { 
      background-color: lightgrey;
  }
